@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: white;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    background-color: rgb(0 0 0 / 30%);
    backdrop-filter: blur(1px);
}